buildCommands.txt

# .NET build artifacts
mmcli/bin/
mmcli/obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
mmcli/obj/Debug/net9.0/mmcli.AssemblyInfo.cs
mmcli/obj/Debug/net9.0/mmcli.AssemblyInfoInputs.cache
mmcli/obj/Debug/net9.0/mmcli.assets.cache
mmcli/obj/Debug/net9.0/mmcli.GeneratedMSBuildEditorConfig.editorconfig
mmcli/obj/mmcli.csproj.nuget.dgspec.json
mmcli/obj/project.assets.json
mmcli/obj/project.nuget.cache
